   
   <div class="headline">
  
		- TODAY'S <strong> CURRENT </strong> TRENDS -
	</div> 
	</br>
	<div class="linemain"></div>

	<div class="container1">

	<div class="garticle">
	<% @garticles.each do | garticle | %>

	      <li> 
	      		<a href="news?keyword=<%= garticle %>" >
	      			<%= garticle %>
	      		</a>
	      </li> 
	   
	     <% end %>
	 </div>

	</div>
	
	<div id="footer1"></div>
	 