<div class="container">
	<div class='row'>
		<div class="small-4 columns">
			<%= render partial: 'usatoday' %>
		</div>
	</div>
	<div class="row">
		<div class="small-8 columns">
			<%= render partial: 'usatoday' %>
		</div>
		<div class="small-4 columns">
			<%= render partial: 'usatoday' %>
		</div>
	</div>
</div>