
<h1>Search Tweets</h1>

<%= form_tag twitter_search_path, :method => 'get' do %>
    <%= text_field_tag :term, params[:term] %>
    <%= submit_tag "Search", :name => nil %>

<% end %>

<% if @tweets %>
<% @tweets.each do |t| %>
<%= t["text"] %>
<% end %>
<% end %>
