/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


body {
	font-family: arial;
	background-image: url("City.jpg");
	background-repeat: repeat-y;
	background-attachment: fixed;
	background-size: 100% auto;

	height: 100%;
	color: white;
	margin: 0;
}

.garticle {
	font-family: Oswald;
	font-size: 30px;
	margin-left: 40%; 
	color: white;
	margin-bottom: 8%;
	z-index: 1;
}

.headline {
	font-family: Oswald;
	font-size: 85px;
	text-align: center;
	margin-top: 5%;
	color: white;
}

h1 {
	font-family: Oswald;
	font-size: 100px;
	text-align: center;
	color: white;
}

.usatodayheadline {
	font-size: 50px;
	text-align: center;
	color: white;
	font-family: Oswald;
}

.usatodayheadlineinsta {
	font-size: 50px;
	text-align: center;
	color: white;
	font-family: Oswald;
	margin-top: 2%;
}

.linemain {
	height:1px;
	background:#717171;
	border-bottom:1px solid white;
	margin-bottom: 2%;
	
}

.line {
	height:1px;
	background:#717171;
	border-bottom:1px solid white;
}

#footer1 {
	height:5px;
	background: black;
	border-bottom:5px solid black;
}

.minor {
	font-size: 40px;
	text-align: center;
	color: white;
	font-family: Oswald;
}

/*footer {
	position: fixed;
	height: 40px
	max-width: 100%;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: black;
	color: white;
	opacity: 0.87;
	font-family: Oswald;
}*/

/*.container1 {
	height: 30%;
	width: 60%;
	background-color: black;
	margin-top: 5%;
	margin-left: 20%;
	margin-bottom: 10%;
	opacity: 0.33;
	
}*/

