body {
	font-family: Oswald;
	background-image: url("City.jpg");
	background-repeat: repeat-y;
	background-position: absolute center fixed;
	background-size: 100% auto;

	height: 100%;
	color: white;
	margin: 0;
}

/* for 600px or less */
@media screen and (max-width: 600px) {

		.small-8 {
			width: auto;
      float: none;
		}

    .small-4 {
        width: auto;
        float: none;
    }
  }